description = "Default layout"
==
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{% if this.page.description %}{{ this.page.description }}{% else %}{{ this.theme.meta_description }}{% endif %}">
        <meta name="keywords" content="{% if this.page.keywords %}{{ this.page.keywords }}{% else %}{{ this.theme.meta_keywords }}{% endif %}">
        <meta name="title" content="{% if this.page.title %}{{ this.page.title }}{% else %}{{ this.theme.meta_title }}{% endif %}">
        <meta name="author" content="{{ this.theme.website_author }}">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">
        <!-- styles -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{{ ['assets/sass/app.scss']|theme }}" rel="stylesheet">
        {% styles %}
        <title>{% if this.page.title %}{{ this.page.title }}{% else %}{{ this.theme.meta_title }}{% endif %} - {{ this.theme.website_name }}</title>
    </head>
    <body class="layout-{{ this.layout.id }} page-{{ this.layout.id }}">
        <div id="global-header" class="global-header">
            {% partial 'components/header' %}
        </div>
        <div id="global-holder" class="global-holder">
            {% partial 'content' %}
        </div>
        <div id="global-footer" class="global-footer">
            {% partial 'footer' %}
        </div>

        <script src="{{ ['assets/js/app.js']|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>

</html>
