description = "Default layout"
==
<!doctype html>
<html lang="en">

    {% partial 'head' %}

    <body class="layout_{{ this.layout.id }} page_{{ this.layout.id }}">
        <div id="global-header" class="global-header">
            {% partial 'components/header' %}
        </div>
        <div id="global-holder" class="global-holder">
            {% partial '/components/fold-single' text=text %}

            {% partial 'content' %}

        </div>
        <div id="global-footer" class="global-footer">
            {% partial 'components/footer' %}
        </div>

        {% partial 'scripts' %}

    </body>

</html>
