option_settings:
  - namespace: aws:elasticbeanstalk:sqsd
    option_name: HttpPath
    value: '/queue/receive'
  - option_name: APP_DEBUG
    value: true
  - option_name: APP_ENV
    value: testing
  - option_name: APP_LOG
    value: syslog
  - option_name: CACHE_DRIVER
    value: file
  - option_name: USE_CRON
    value: true
  - option_name: AWS_REGION
    value: us-east-2

container_commands:
  01_writable_dirs:
    command: |
      chmod -R 770 /var/app/ondeck/storage/logs
