.about {
  .picture {
    @include border-radius(100%);
    max-width: 250px;
    min-height: 250px;
    position: relative;
    img {
      max-height: 78px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  p {
    margin-top: 25px;
  }
  @include media-breakpoint-down(sm) {
    h3 {
      margin-top: 25px;
    }
  }
}
