description="Episode component square"
==
<div class="col-sm-4">
  <div class="episode-single">
    <div class="image-wrapper">
      <div class="image d-flex" style="background-image: url('http://via.placeholder.com/350x350')">
        <div class="play align-items-center"></div>
      </div>
    </div>
    <div class="text">
      <h4 class="text-primary"><a href="{{ url('/episodes/details') }}">Peace on Earth What a Wonderful Wish but No Way</a></h4>
      <div class="">1 day ago <span class="dot">•</span> 57:32min</div>
      <p class="">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc...</p>
    </div>
  </div>
</div>
