description = "homepage feature component"

[EpisodesList]
==
<div class="feature-wrapper">
  <div class="container">
    <div class="row">
      <div class="d-none d-md-block col-md-6">
        <h1 class="brand">
          Featured
          <div></div>
          <span class="space">Episodes</span>
        </h1>
      </div>
      <div class="col-md-6">
        <p class="text-mute featured-text">{{ text }}</p>
      </div>
    </div>
    <div class="features">
      {% component 'EpisodesList' maxItems=3 %}
    </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="{{ url('/episodes') }}"><button class="btn-primary">More Episodes</button></a>
      </div>
    </div>
  </div>
</div>
