description = "Initial load view for above the fold"
==
<div class="the-intro d-flex align-items-center" style="background: url({{ 'assets/images/home.jpg' | theme }}) center / cover fixed;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-8 align-items-center">
        <h1>What the Health Podcast Series</h1>
        <div class="row"><p class="col-8">Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic regulari quam ti del coalescent lingues.</p></div>
        <button type="button" class="btn btn-primary text-white">View Episodes</button>
      </div>
    </div>
  </div>
</div>
