description = "Site Footer"
==

{% partial '/components/callout-image' %}

{% partial '/components/callout' %}

<div class="footer-wrapper">
    <div class="footer-above">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6 offset-sm-3">
                    <div class="social">
                        <a><img src="{{ 'assets/images/icon_fb@2x.png' | theme}}" alt=""></a>
                        <a><img src="{{ 'assets/images/icon_tw@2x.png' | theme}}" alt=""></a>
                        <a><img src="{{ 'assets/images/icon_rss@2x.png' | theme}}" alt=""></a>
                        <a><img src="{{ 'assets/images/icon_insta@2x.png' | theme}}" alt=""></a>
                        <a><img src="{{ 'assets/images/icon_goog@2x.png' | theme}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-below">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <small class="text-mute">Copyright {{ "now"|date("Y") }}. Built by Catapult</small>
                </div>
            </div>
        </div>
    </div>
</div>
