.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover, &:focus, &:active {
    background-color: darken($primary, 20%) !important;
    border-color: darken($primary, 20%) !important;
  }
}
