.btn-primary {
  @include transition(all .2s ease-in);
  cursor: pointer;
  background-color: $primary;
  border-color: $primary;
  font-weight: 600;
  padding: 12px 55px;
  text-transform: uppercase;
  &:hover, &:focus, &:active {
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 10%) !important;
  }
}
.btn-default {
  @include transition(all .2s ease-in);
  border: 1px solid $white;
  color: $white;
  font-size: 15px;
  padding: 12px 35px;
  text-transform: uppercase;
  &:hover, &:focus, &:active {
    border-color: darken($white, 10%) !important;
  }
}
