.feature-wrapper {
  padding: 75px 0;
  .space {
    padding-left: 10%;
  }
}
@include media-breakpoint-down(md) {
  .feature-wrapper {
    .features {
      .feature {
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}
