.the-intro {
  margin-top: 75px;
  min-height: 100vh;
  .fold-text {
    height: 100%;
    max-width: 50%;
    position: fixed;
    top: 40%;
  }
  .subtext {
    color: lighten($text-color, 30%);
  }
}
