.the-intro {
  margin-top: 75px;
  min-height: 85vh;
  .fold-text {
    height: 100%;
    max-width: 50%;
    position: fixed;
    top: 40%;
  }
  .subtext {
    color: lighten($text-color, 30%);
  }
  .play-wrapper {
    img {
      max-height: 50px;
    }
    h6 {
      display: inline;
      padding: 13px 10px 0;
    }
  }
  @include media-breakpoint-down(md) {
    .fold-text {
      max-width: 540px;
    }
  }
}
