.footer-wrapper {
  background-color: $white;
  padding: 25px 0;
  position: relative;
  z-index: 10;
  .social {
    padding: 20px 0;
    img {
      max-height: 16px;
      padding: 0 10px;
    }
  }
}
