description = "Site Footer"
==
<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>

<div class="footer-below">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <small class="text-muted">Created by <a href="http://nickmoncur.com" target="_blank">Nick Moncur</a></small>
            </div>
            <div class="col">
                <div class="copyright">
                    <small class="text-muted">&copy; {{ "now"|date("Y") }} {{ this.theme.config.name }}</small>
                </div>
            </div>
            <div class="col">
                <small class="text-muted">All images courtesy of <a href="https://unsplash.com">Unsplash</a></small>
            </div>
        </div>
    </div>
</div>
