<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% if this.page.description %}{{ this.page.description }}{% else %}{{ this.theme.meta_description }}{% endif %}">
  <meta name="keywords" content="{% if this.page.keywords %}{{ this.page.keywords }}{% else %}{{ this.theme.meta_keywords }}{% endif %}">
  <meta name="title" content="{% if this.page.title %}{{ this.page.title }}{% else %}{{ this.theme.meta_title }}{% endif %}">
  <meta name="author" content="{{ this.theme.website_author }}">
  <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png' | theme }}">
  <!-- styles -->
  <link href="{{ ['assets/sass/vendor/bootstrap/bootstrap.scss'] | theme }}" rel="stylesheet">
  <link href="{{ ['assets/sass/app.scss'] | theme }}" rel="stylesheet">
  {% styles %}
  <title>{% if this.page.title %}{{ this.page.title }}{% else %}{{ this.theme.meta_title }}{% endif %} - {{ this.theme.config.name }}</title>
</head>
